NET "ddr3_dq[0]"                             LOC = "AN24"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[1]"                             LOC = "AM24"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[2]"                             LOC = "AR22"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[3]"                             LOC = "AR23"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[4]"                             LOC = "AN23"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[5]"                             LOC = "AM23"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[6]"                             LOC = "AN21"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[7]"                             LOC = "AP21"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[8]"                             LOC = "AK23"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[9]"                             LOC = "AJ23"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[10]"                            LOC = "AL21"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[11]"                            LOC = "AM21"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[12]"                            LOC = "AJ21"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[13]"                            LOC = "AJ20"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[14]"                            LOC = "AK20"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[15]"                            LOC = "AL20"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[16]"                            LOC = "AW22"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[17]"                            LOC = "AW23"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[18]"                            LOC = "AW21"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[19]"                            LOC = "AV21"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[20]"                            LOC = "AU23"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[21]"                            LOC = "AV23"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[22]"                            LOC = "AR24"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[23]"                            LOC = "AT24"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[24]"                            LOC = "BB24"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[25]"                            LOC = "BA24"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[26]"                            LOC = "AY23"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[27]"                            LOC = "AY24"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[28]"                            LOC = "AY25"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[29]"                            LOC = "BA25"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[30]"                            LOC = "BB21"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[31]"                            LOC = "BA21"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[32]"                            LOC = "AY14"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[33]"                            LOC = "AW15"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[34]"                            LOC = "BB14"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[35]"                            LOC = "BB13"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[36]"                            LOC = "AW12"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[37]"                            LOC = "AY13"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[38]"                            LOC = "AY12"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[39]"                            LOC = "BA12"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[40]"                            LOC = "AU12"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[41]"                            LOC = "AU13"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[42]"                            LOC = "AT12"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[43]"                            LOC = "AU14"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[44]"                            LOC = "AV13"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[45]"                            LOC = "AW13"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[46]"                            LOC = "AT15"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[47]"                            LOC = "AR15"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[48]"                            LOC = "AL15"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[49]"                            LOC = "AJ15"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[50]"                            LOC = "AK14"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[51]"                            LOC = "AJ12"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[52]"                            LOC = "AJ16"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[53]"                            LOC = "AL16"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[54]"                            LOC = "AJ13"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[55]"                            LOC = "AK13"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[56]"                            LOC = "AR14"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[57]"                            LOC = "AT14"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[58]"                            LOC = "AM12"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[59]"                            LOC = "AP11"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[60]"                            LOC = "AM13"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[61]"                            LOC = "AN13"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[62]"                            LOC = "AM11"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dq[63]"                            LOC = "AN11"    |   IOSTANDARD = SSTL15_T_DCI         |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dm[0]"                             LOC = "AT22"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dm[1]"                             LOC = "AL22"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dm[2]"                             LOC = "AU24"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dm[3]"                             LOC = "BB23"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dm[4]"                             LOC = "BB12"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dm[5]"                             LOC = "AV15"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dm[6]"                             LOC = "AK12"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dm[7]"                             LOC = "AP13"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_p[0]"                          LOC = "AP23"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_n[0]"                          LOC = "AP22"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_p[1]"                          LOC = "AJ22"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_n[1]"                          LOC = "AK22"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_p[2]"                          LOC = "AT21"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_n[2]"                          LOC = "AU21"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_p[3]"                          LOC = "BA22"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_n[3]"                          LOC = "BB22"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_p[4]"                          LOC = "BA15"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_n[4]"                          LOC = "BA14"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_p[5]"                          LOC = "AP12"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_n[5]"                          LOC = "AR12"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_p[6]"                          LOC = "AK15"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_n[6]"                          LOC = "AL14"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_p[7]"                          LOC = "AN15"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_dqs_n[7]"                          LOC = "AN14"    |   IOSTANDARD = DIFF_SSTL15_T_DCI    |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[15]"                          LOC = "AL19"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[14]"                          LOC = "AM19"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[13]"                          LOC = "AK17"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[12]"                          LOC = "AL17"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[11]"                          LOC = "AM18"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[10]"                          LOC = "AM17"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[9]"                           LOC = "AK19"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[8]"                           LOC = "AK18"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[7]"                           LOC = "AM16"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[6]"                           LOC = "AN16"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[5]"                           LOC = "AJ18"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[4]"                           LOC = "AP18"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[3]"                           LOC = "AP17"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[2]"                           LOC = "AP20"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[1]"                           LOC = "AR19"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_addr[0]"                           LOC = "AN19"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_ba[2]"                             LOC = "AN18"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_ba[1]"                             LOC = "AR18"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_ba[0]"                             LOC = "AR17"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_ck_p[0]"                           LOC = "AT17"    |   IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_ck_n[0]"                           LOC = "AU17"    |   IOSTANDARD = DIFF_SSTL15          |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_ras_n"                             LOC = "AV19"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_cas_n"                             LOC = "AT20"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_we_n"                              LOC = "AU19"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_reset_n"                           LOC = "BB19"    |   IOSTANDARD = LVCMOS15             |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_cke[0]"                            LOC = "AW17"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_odt[0]"                            LOC = "AT16"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
NET "ddr3_cs_n[0]"                           LOC = "AV16"    |   IOSTANDARD = SSTL15               |     VCCAUX_IO = HIGH         ;                       
